[submodule "content/posts/cve-2022-37783"]
	path = content/posts/cve-2022-37783
	url = https://github.com/testingIfThisHugoStuffWorks/ExampleCVE.git

[submodule "content/posts/CVE-2023-25263"]
	path = content/posts/CVE-2023-25263
	url = https://github.com/trustcves/CVE-2023-25263.git
[submodule "content/posts/cve-2023-25263"]
	path = content/posts/cve-2023-25263
	url = https://github.com/trustcves/CVE-2023-25263.git
[submodule "content/posts/cve-2023-25261"]
	path = content/posts/cve-2023-25261
	url = https://github.com/trustcves/CVE-2023-25261.git
[submodule "content/posts/cve-2023-25260"]
	path = content/posts/cve-2023-25260
	url = https://github.com/trustcves/CVE-2023-25260.git
[submodule "content/posts/cve-2023-25262"]
	path = content/posts/cve-2023-25262
	url = https://github.com/trustcves/CVE-2023-25262.git
[submodule "content/posts/cve-2023-31433"]
	path = content/posts/cve-2023-31433
	url = https://github.com/trustcves/CVE-2023-31433.git
[submodule "content/posts/cve-2023-31434"]
	path = content/posts/cve-2023-31434
	url = https://github.com/trustcves/CVE-2023-31434.git
[submodule "content/posts/cve-2023-31435"]
	path = content/posts/cve-2023-31435
	url = https://github.com/trustcves/CVE-2023-31435.git 
